h1 {
    color: black;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    background-color: red;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

}

h3 {
    color: red;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.con {
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    padding: 70px 0;
    justify-content: center; /* centers horizontally */
    align-items: center; /* centers vertically */

}

.btn {
    background-color: red;
}

.card {
    border-color: black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

}