h1 {
    color: blue;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    background-color: red;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

}

h3 {
    color: red;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}



.btn {
    background-color: red;
}

.card {
    border-color: black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

}

.con {
    display: flex;
    gap: 50px;


}