{% extends 'base.html' %}
{% block content %}

<h1>Objective </h1>
<h2>{{ objective.category }}</h2>
<p> {{ objective.title }}</p>
<p>{{ objective.description }}</p>
<p> Start Date: {{ objective.start_date }}</p>
<p> End Date: {{ objective.end_date }}</p>
<p> Status: {{ objective.progress }}</p>
<button><a href="{% url 'objective_update' objective.pk %}" class="btn btn-secondary btn-sm">Edit</a></button>
<button><a href="{% url 'objective_delete' objective.pk %}" class="btn btn-secondary btn-sm">Delete</a></button>
<button><a href="{% url 'keyresult_create' objective.id %}" class="btn btn-secondary btn-sm">New Key Result</a></button>

  {% for keyresults in objective.keyresults.all %}
  
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
       {{ keyresults.objective.title }}     </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {{ keyresults.description }} <br> {{ keyresults.target_value }} <br>  {{ keyresults.current_value }}  <br> {{ keyresults.deadline }} <br>
        <button><a href="{% url 'keyresult_update' keyresults.pk %}" class="btn btn-secondary btn-sm">Edit</a></button>
        <button><a href="{% url 'keyresult_delete' keyresults.pk %}" class="btn btn-secondary btn-sm">Delete</a></button>

      </div>
    </div>
  </div>

  </div>
</div>
    </div>
  {% endfor %}
  {% endblock %}
