{% extends 'base.html' %}
{% block content %}

<h1>Objective Detail</h1>
<h2>{{ objective.category }}</h2>
<p>Target Amount: {{ objective.title }}</p>
<p>Target Date: {{ objective.description }}</p>
<p>Notes: {{ objective.start_date }}</p>
<p>Notes: {{ objective.end_date }}</p>
<p>Notes: {{ objective.progress }}</p>
<button><a href="{% url 'objective_update' objective.pk %}" class="btn btn-secondary btn-sm">Edit</a></button>
<button><a href="{% url 'objective_delete' objective.pk %}" class="btn btn-secondary btn-sm">Delete</a></button>
<button><a href="{% url 'keyresult_create' objective.id %}" class="btn btn-secondary btn-sm">New Key Result</a></button>

  {% for keyresults in objective.keyresults.all %}
    <div class="song">
      <span>{{ keyresults.objective.title }}</span>  <!-- Objective title -->
      <span>{{ keyresults.description }}</span>
      <span>{{ keyresults.target_value }}</span>
      <span>{{ keyresults.current_value }}</span>
      <span>{{ keyresults.deadline }}</span>
      <button><a href="{% url 'keyresult_update' objective.pk %}" class="btn btn-secondary btn-sm">Edit</a></button>
<button><a href="{% url 'keyresult_delete' objective.pk %}" class="btn btn-secondary btn-sm">Delete</a></button>
<button><a href="{% url 'keyresult_create' objective.id %}" class="btn btn-secondary btn-sm">New Key Result</a></button>

    </div>
  {% endfor %}
  <p>No key results found for this objective.</p>
  {% endblock %}
