{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'objective.css' %}">

    <h1>Welcome to objectives</h1>
    <container class="con">
    {% for objective in Objective %}
          <div class="card" style="width: 18rem;">
            <div class="card">
                <h5 class="card-title">{{objective.title}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{objective.description}}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">${{objective.start_date}}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">${{objective.end_date}}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">${{objective.start_date}}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">${{objective.progress}}</h6>
                <a href="{% url 'objective_detail' objective.pk %}" class="btn btn-secondary btn-sm">View objective</a>
                <a href="{% url 'objective_update' objective.pk %}" class="btn btn-secondary btn-sm">Edit</a>
                <a href="{% url 'objective_delete' objective.pk %}" class="btn btn-secondary btn-sm">Delete</a>
              </div>
            </div>
          {% empty %}
      {% endfor %}
  </container>
  {% endblock %}